body {
  background-color: #e3eff7;
}

form {
  background-color: rgb(247, 246, 246);
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px;
}

.container{
  background-color: aliceblue;
}

thead {
  text-align: center;
}